* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 38%, 92%);
  font-family: "Montserrat", sans-serif;
}

h1,
h3 {
  font-family: "Fraunces", serif;
  font-weight: 700;
}

h2 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

main {
  min-height: 100vh;
  border: 2px solid salmon;
  display: grid;
  justify-content: center;
  align-items: center;
}

section {
  max-width: 40rem;
  /* width: 40rem; */
  margin: 0 auto;
  /* padding: 2rem; */
  border: 2px solid red;
  background-color: hsl(30, 38%, 92%);
  display: flex;
}
