* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 38%, 92%);
  font-family: "Montserrat", sans-serif;
}

h1,
h3 {
  font-family: "Fraunces", serif;
  font-weight: 700;
}

h2 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

main {
  border: 2px solid yellowgreen;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  background-color: white;
  border-radius: 10px;
  max-width: 35em;
  width: 100%;
  display: flex;
  margin: 1rem;
  margin: 0;
  gap: 1rem;
  border-radius: 1rem;
}
.product-image {
  border-radius: 1rem;
  overflow: hidden;
}
img {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.product-details {
  border: 2px solid yellow;
  /* margin: 2rem; */
}

.product-details p.product-brand {
  font-size: 0.8rem;
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  margin: 1.5rem 0 1.5rem 0;
  letter-spacing: 0.5rem;
}

/* @media (max-width: 640px) {
  section {
    flex-direction: column;
    margin: 1rem;
    max-width: 340px;
  }
} */
